<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="navbar">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" th:href="@{/admin}">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" th:href="@{/admin}">
                            <i class="fa-solid fa-gear"></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/admin}">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" th:fragment="sidebar">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <!-- For Dashboard -->
                <a class="nav-link" th:href="@{/admin}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-chart-simple"></i>
                    </div>
                    Dashboard
                </a>
                <!-- For Users -->
                <a class="nav-link" th:href="@{/admin/users}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    Users
                </a>
                <!-- For Authors -->
                <a class="nav-link" th:href="@{/admin/authors}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-id-badge"></i>
                    </div>
                    Authors
                </a>
                <!-- For Books -->
                <a class="nav-link" th:href="@{/admin/books}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    Books
                </a>
                <!-- For Book Category List -->
                <a class="nav-link" th:href="@{/admin/book-categories}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    Book Category List
                </a>
                <!-- For Inventory -->
                <a class="nav-link" th:href="@{/admin}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-warehouse"></i>
                    </div>
                    Inventory
                </a>
                <!-- For Order -->
                <a class="nav-link" th:href="@{/admin}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-receipt"></i>
                    </div>
                    Orders
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</body>